@import 'variables';
@import 'vuetify';
@import 'ag-grid';

.pointer {
  cursor: pointer;
}

.primary-color--text {
  color: $color-primary !important;
}
.white-text-color {
  color: white !important;
}

.theme--light.v-navigation-drawer,
.side-navigation-bar {
  background-color: $sid-nav-color-primary !important;
}
.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  border-radius: 0 30px 30px 0;
  width: 99%;
}

.activeItem {
  background-color: white;
  color: teal;
}
